In [1]:
#Imports the pymongo library, which is the official MongoDB driver for Python.
import pymongo

#Imports the pprint module, which provides a way to pretty-print data structures.
import pprint

#Specifically imports the MongoClient class from pymongo, which allows connecting to a MongoDB server.
from pymongo import MongoClient

#Creates a new instance of MongoClient and passes the MongoDB connection URI as an argument. 
#The URI contains the authentication details (root:randompasswordidontlikethis) 
#and the IP address (35.204.15.102) and port (27017) of the MongoDB server.
client = MongoClient('mongodb://root:randompasswordidontlikethis@35.204.15.102:27017/')

#Initializes a PrettyPrinter object with an indentation level of 4 spaces. 
#This will be used to format and print the retrieved data in a readable manner.
pp = pprint.PrettyPrinter(indent = 4)

#Accesses the "twitter" database within the MongoDB server using the client object.
#Accesses the "airlines" collection within the "twitter" database.
db = client.twitter
airlines=db.airlines

In [2]:
#Creating a data frame where the british airways are mentioned in the user mentions 
import pandas as pd

needed_columns={'id_str': 1, 'created_at':1, 'text':1, 'in_reply_to_status_id_str':1, 'in_reply_to_user_id_str':1, 
                'user':1, 'place':1, 'reply_count':1, 'retweet_count':1, 'favorite_count':1, 'entities':1, 
                'lang':1, 'timestamp_ms':1, 'extended_tweet':1, 'quoted_status_id_str':1, 'quoted_status':1}
df_British_mentioned = pd.DataFrame(list(airlines.find({'entities.user_mentions.name':'British Airways'}, needed_columns)))
df_British_mentioned.head()

,_id,created_at,id_str,text,in_reply_to_status_id_str,in_reply_to_user_id_str,user,place,reply_count,retweet_count,favorite_count,entities,lang,timestamp_ms,extended_tweet,quoted_status_id_str,quoted_status
0,645635f2a08f95bceec34b94,Wed May 22 12:20:02 +0000 2019,1131172867985485824,@British_Airways,1131032916232826881,394376606,"{'id': 394376606, 'id_str': '394376606', 'name...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",und,1558527602560,NaN,NaN,NaN
1,645635f2a08f95bceec34b99,Wed May 22 12:20:36 +0000 2019,1131173010508062721,Thanks @British_Airways I really needed the ex...,None,None,"{'id': 1662186764, 'id_str': '1662186764', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527636540,NaN,NaN,NaN
2,645635f2a08f95bceec34bb6,Wed May 22 12:23:02 +0000 2019,1131173624533213189,RT @renoomokri: Happening Now: Flying to Scand...,None,None,"{'id': 3363341139, 'id_str': '3363341139', 'na...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527782935,NaN,NaN,NaN
3,645635f2a08f95bceec34bd6,Wed May 22 12:25:16 +0000 2019,1131174183814258688,@British_Airways They certainly are! And it wa...,1131124649599918081,18332190,"{'id': 309076025, 'id_str': '309076025', 'name...","{'id': '0100c1ec5a9b2083', 'url': 'https://api...",0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527916278,NaN,NaN,NaN
4,645635f2a08f95bceec34bdc,Wed May 22 12:25:56 +0000 2019,1131174354056822784,@British_Airways Not yet. I'll have a look later,1131171782319329280,18332190,"{'id': 26207568, 'id_str': '26207568', 'name':...",None,0,0,0,"{'hashtags': [], 'urls': [], 'user_mentions': ...",en,1558527956867,NaN,NaN,NaN

In [ ]:
#Creating a data frame where the KLM are mentioned in the user mentions 
KLM_values = ['KLM', 'klm']
user_mentions_query = {'entities.user_mentions.name': {"$in": KLM_values}}

# Define the values and query for text mentions
text_mentions_values_KLM = ['KLM', 'klm']
text_mentions_query = {'text': {"$regex": '|'.join(text_mentions_values_KLM), "$options": "i"}}

# Combine the user_mentions_query and text_mentions_query using the $or operator
combined_query = {"$or": [user_mentions_query, text_mentions_query]}

# Query the collection and retrieve the data
df_KLM_mentioned = pd.DataFrame(list(airlines.find(combined_query, needed_columns)))

# Apply a filtering condition to remove rows where the value of the key 'id' is equal to 56377143
filtered_df_KLM_mentioned = df_KLM_mentioned[~df_KLM_mentioned['user'].apply(lambda x: x.get('id') == 56377143)]

# Reset the index of the filtered dataframe
filtered_df_KLM_mentioned = filtered_df_KLM_mentioned.reset_index(drop=True)
filtered_df_KLM_mentioned

In [ ]:
df_British_mentioned_English = df_British_mentioned[df_British_mentioned['lang']=='en']
filtered_df_KLM_mentioned_English = filtered_df_KLM_mentioned[filtered_df_KLM_mentioned['lang']=='en']

df_British_mentioned_English.drop(['favorite_count', 'retweet_count', 'reply_count', 'id_str','in_reply_to_status_id_str','in_reply_to_status_id_str','text', 'in_reply_to_status_id_str', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'place', 'reply_count', 'entities'], axis=1)
filtered_df_KLM_mentioned_English.drop(['favorite_count', 'retweet_count', 'reply_count','id_str','in_reply_to_status_id_str','in_reply_to_status_id_str','text', 'in_reply_to_status_id_str', 'in_reply_to_status_id_str', 'in_reply_to_user_id_str', 'place', 'reply_count', 'entities'], axis=1)

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer


# Create an instance of the SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

# Define a function to get the compound score for a sentence. Its range is from -1 to 1, with -1 being negative and 1 being positive. The range [-0.05, 0.05] is considered as neutral
def get_sentiment_score(text):
    sentiment = analyzer.polarity_scores(text)
    return sentiment['compound']

# Apply the function to the 'text' column and assign the results to the 'sentiment' column
df_British_mentioned_English['sentiment'] = df_British_mentioned_English['text'].apply(get_sentiment_score)
filtered_df_KLM_mentioned_English['sentiment'] = df_British_mentioned_English['text'].apply(get_sentiment_score)

# Print the updated DataFrame
print(df_British_mentioned_English.head())

In [ ]:
import numpy as np
from datetime import datetime

# next command ensures that plots appear inside the notebook
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns  # also improves the look of plots
sns.set()              # set Seaborn defaults
plt.rcParams['figure.figsize'] = [10, 5]   # default hor./vert. size of plots, in inches
plt.rcParams['lines.markeredgewidth'] = 1  # to fix issue with seaborn box plots; needed after import seaborn

import matplotlib.cbook as cbook
import matplotlib.dates as mdates

# hide FutureWarnings, which may show for Seaborn calls in most recent Anaconda
import warnings
warnings.filterwarnings('ignore', category=FutureWarning) 

# reveal a hint only while holding the mouse down
from IPython.display import HTML
HTML('<style>.h,.c{display:none}.t{color:#296eaa}.t:active+.h{display:block;}</style>')

In [ ]:
def extract_date(date_string):
    date_object = datetime.strptime(date_string, '%a %b %d %H:%M:%S %z %Y')
    return date_object  # Returns the date in YYYY-MM-DD format

# Apply the function to create a new column 'date'
df_British_mentioned_English['date'] = df_British_mentioned_English['created_at'].apply(extract_date)
filtered_df_KLM_mentioned_English['date'] = df_British_mentioned_English['created_at'].apply(extract_date)

df_British_mentioned_English.head()

In [ ]:
date_British = df_British_mentioned_English.groupby([df_British_mentioned_English['date'].dt.date])['sentiment'].mean()
date_KLM = filtered_df_KLM_mentioned_English.groupby([filtered_df_KLM_mentioned_English['date'].dt.date])['sentiment'].mean()

plot1 = date_British.plot(y='sentiment')
plot1.set_title('Change in sentiment over the Christmas Period', size=16, weight='bold')
plot1.set_xlabel('Date', size=18)
plot1.set_ylabel('Average Sentiment Score', size=18)
plot1.legend(['British Airways', 'KLM'])
plot1.set_xlim('2019-12-18', '2019-12-31')

date_KLM.plot(y='sentiment', ax = plot1);

In [ ]:
plot2 = date_British.plot(y='sentiment')
plot2.set_title('Change in sentiment over the Start of the Covid Pandemic', size=16, weight='bold')
plot2.set_xlabel('Date', size=18)
plot2.set_ylabel('Average Sentiment Score', size=18)
plot2.legend(['British Airways', 'KLM'])
plot2.set_xlim('2020-03-01', '2020-03-30')

date_KLM.plot(y='sentiment', ax = plot2);

In [ ]:
plot3 = date_British.plot(y='sentiment')
plot3.set_title('Change in sentiment over the Summer Vacation Period', size=16, weight='bold')
plot3.set_xlabel('Date', size=18)
plot3.set_ylabel('Average Sentiment Score', size=18)
plot3.legend(['British Airways', 'KLM'])
plot3.set_xlim('2019-07-10', '2019-08-25')

date_KLM.plot(y='sentiment', ax = plot3);